Data minimisation

Hal Murray [writes](https://mailarchive.ietf.org/arch/msg/ntp/GLJzQnXnnztCqHAIuLYa11ICcOo/):

> Draft 04 from Mar 2019 has expired.
> 
> I thought it was well done.  Did it expire because people lost interest?  If 
> so, should we add data-minimization to the NTPv5 list?
> 
> Section 5.1 in RFC 8633, BCP, July 2019, is on Minimizing Information Leakage

Minimization of data should be part of the design of the wire format and a requirement or two can be included into the security considerations of the document. It's worth noting that several values of the [data minimization](https://datatracker.ietf.org/doc/html/draft-ietf-ntp-data-minimization) draft may not either apply or won't be present in t he specification.